body {
    background-color: #c4fff9;
}
.rusadart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gift {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 400px;
    height: 600px;
    border-style: solid;
    border-color: #3dccc7
}
a {
    color: #007ea7;
}